<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.boot.web.dao.UserDao">
    <sql id="queryUserAllColumn">
        SELECT
        ID AS id,
        NAME AS name,
        SEX AS sex,
        AGE AS age
        FROM
        YLF.USER
    </sql>
    
    <select id="queryUsers" resultType="com.spring.boot.web.entity.User">
        <include refid="queryUserAllColumn"/>
    </select>
    
    <select id="findUserById" parameterType="String" resultType="com.spring.boot.web.entity.User">
        <include refid="queryUserAllColumn"/>
        WHERE ID = #{id}
    </select>

    <insert id="addUser" keyProperty="id" useGeneratedKeys="true" parameterType="com.spring.boot.web.entity.User">
        INSERT INTO YLF.USER(
        <if test="name != null">
            NAME,
        </if>
        <if test="sex != null">
            SEX,
        </if>
        <if test="age != null">
            AGE
        </if>
        ) VALUES(
        <if test="name != null">
            #{name},
        </if>
        <if test="sex != null">
            #{sex},
        </if>
        <if test="age != null">
            #{age}
        </if>
        )
    </insert>

    <update id="updateUser" parameterType="com.spring.boot.web.entity.User">
        UPDATE YLF.USER SET
        <if test="name != null">
            NAME = #{name},
        </if>
        <if test="sex != null">
            SEX = #{sex},
        </if>
        <if test="age != null">
            AGE = #{age}
        </if>
        WHERE ID = #{id}
    </update>

    <delete id="delUser" parameterType="com.spring.boot.web.entity.User">
        DELETE FROM  YLF.USER WHERE
        ID = #{id}
    </delete>
</mapper>